.button-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  --size:160px;
  border:none;
  font-size: 18px;
  display: block;
  width: var(--size);
  height: var(--size);
  color:#fff;
  border-radius:50%;
  display: flex;
  justify-content: center;
  align-items:center;
  text-align: center;
  hyphens: auto;
  word-break: break-all;
  line-height: 1.55;
  transition-property: border-color, background-color, filter, color;
  transition-timing-function: ease;
  transition-duration: 0.3s;
  border:3px solid transparent;
  background-color:var(--light-theme, var(--light-gray)) var(--dark-theme, var(--extra-dark-gray));
  padding: 18px;
  line-height: 1.55;

  &--dark {
    background-color:var(--light-theme, var(--black)) var(--dark-theme, var(--extra-dark-gray));
  }

  &--light {
    background-color:var(--light-theme, var(--black)) var(--dark-theme, #fff);
    color:var(--light-theme, #fff) var(--dark-theme, var(--black));
  }

  &--transparent {
    background-color:transparent;
    border-color:var(--extra-dark-gray);
    color:var(--light-theme, var(--black)) var(--dark-theme, #fff)
  }

  @include hover {
    border-color:var(--gold);
  }

  &:focus-visible {
    border-color: var(--gold);
  }

  @include tablet {
    --size:240px;
  }
}
