.c-header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;

  &--place-center {
    place-items: center;
  }

  &--grid {
    aspect-ratio: 2/0.6;
    margin-block-end: clamp-calc(470px, 1920px, 80px, 120px);
  }

  &__grid {
    position: absolute;
    left: 0;
    top: 0;
    bottom:0;
    right: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    pointer-events: none;

    &-img {
      display: block;
      transform: rotate(var(--rotate, revert));
      transform-origin: var(--origin, revert);
    }
  }


  &__title {
    grid-column: 1;
    grid-row: 1;
  }
  &__img {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    width: var(--width, 50%);
    max-width: 800px;
    display: block;
  }
}
