.cookies {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #000;
  bottom: 0;
  z-index: 1000;
  padding-inline: var(--container);
  padding-block: clamp-calc(470px, 1920px, 16px, 24px);
  font-size: clamp-calc(470px, 1920px, 12px, 18px);

  &__content {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;

    p {
      margin-block: 0;
      line-height: 1.33;
    }
  }

  &__button {
    font: inherit;
    border-radius: 100px;
    background-color:#fff;
    border:none;
    padding-inline: clamp-calc(470px, 1920px, 16px, 40px);
    padding-block: clamp-calc(470px, 1920px, 8px, 20px);
    font-weight: 400;
    color:var(--black);
    line-height: 1.33;
    border:1px solid #000;
    will-change: filter;
    transition: filter 0.3s ease;

    @include hover {
      filter: invert(1);
    }
  }
}
