.description-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin: 0;

  &__term {
    font-size: 14px;
    color:var(--gold);
    line-height: 1;
  }

  &__details {
    margin-inline: 0;
    font-size: clamp-calc(470px, 1920px, 20px, 24px);
    line-height: 1.5;
    font-weight: 400;
  }
}
