.desc {
  font-weight: 400;
  margin-block: 0;
  transition: color var(--body-dur);
  transition-delay: var(--body-delay);
  transition-timing-function: ease;
  color:var(--dark-theme, var(--dark-gray)) var(--light-theme, var(--graphite));

  &--lg {
    font-weight: 500;
    font-size: clamp-calc(470px, 1920px, 28px, 72px);
    letter-spacing: -0.72px;
    line-height: 1.22;
  }
  &--md{
    font-size: clamp-calc(470px, 1920px, 18px, 22px);
    letter-spacing: -0.72px;
    line-height: 1.22;
  }
  &--center {
    text-align: center;
  }

  &--mb {
    margin-block-end: 80px;
  }
}
