.form {
  --error-color:#E53D4F;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  counter-reset: form-counter;
  font-size: clamp-calc(470px, 1920px, 16px, 22px);

  &__item {
    --counter-color: var(--dark-theme, #474747) var(--light-theme, #BABABA);
    --counter-translate:-24px;
    gap: 8px 40px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;

    @include for-desktop {
      display: grid;
      grid-template-columns: min-content [field] 1fr;
    }

    @include tablet{
      display: flex;
      flex-direction: column;
    }

    &::before {
      counter-increment: form-counter;
      content: counter(form-counter, decimal-leading-zero);
      display: block;
      color: var(--counter-color);
      line-height: 1.63;
      align-self: flex-start;
      color:transparent;
      overflow: hidden;
      text-shadow: 0 var(--counter-translate-pos, 0) var(--counter-color), 0 var(--counter-translate-neg, -25px) var(--counter-color);
      transition: text-shadow 0.3s ease;
    }

    &:has(.form__input:focus-visible, .form__input:not(:placeholder-shown), .form__list-input:checked){
      --counter-color: var(--dark-theme, #fff) var(--light-theme, var(--black));
      --counter-translate-neg:0;
      --counter-translate-pos:50px;
    }
  }

  &__fieldset {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 25px;
    row-gap: 5px;
    padding: 0;
    border-width: 0;
    line-height: 1.5;
    color: var(--dark-theme, #fff) var(--light-theme, var(--black));
  }

  &__legend {
    display: block;
    margin-block-end: 24px;
  }

  &__input-label {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  &__input {
    --placeholder: var(--dark-theme, #474747) var(--light-theme, #BABABA);
    width: 100%;
    font: inherit;
    color: var(--dark-theme, #fff) var(--light-theme, var(--black));
    padding-block: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: transparent;
    border: none;
    border-block-end: 1px solid;
    border-color: var(--dark-theme, #303030) var(--light-theme, #D1D1D1);
    outline: none;
    resize: none;

    &:focus-visible {
      border-block-end-color: var(--dark-theme, #fff) var(--light-theme, var(--black));
    }

    &::placeholder {
      color: var(--placeholder);
    }
  }
  textarea {
    padding-inline-end: 15px;
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--extra-dark-gray);
      border-radius:100px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius:100px;
      background-color:var(--gold);
    }
  }
  &__optional {
    color: var(--dark-theme, #474747) var(--light-theme, #A3A3A3);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    gap: 8px;

    &-tag {
      border:1px solid #303030;
      display: flex;
      justify-content: center;
      align-items:center;
      text-align: center;
      border-radius:40px;
      padding-block: clamp-calc(470px, 1024px, 12px, 16px);
      padding-inline: clamp-calc(470px, 1024px, 24px, 40px);
      transition: border 0.3s ease, transform 0.1s ease-in-out;
      transform-origin: center;
      user-select: none;
      line-height: 1.63;

      @include hover {
        border-color: rgba(#C6964D, 0.5);
      }
    }

    &-input:checked + &-tag,
    &-input:focus-visible + &-tag  {
      border-color: var(--gold);
    }
  }

  &__error {
    color:var(--error-color);
    font-size: 14px;
    grid-column: field;
  }

  &__submit,
  &__agreement {
    margin-inline-start: 70px;
  }

  &__agreement {
    color:var(--gray);
    line-height: 1.57;
    font-size: 14px;
    a {
      color:var(--dark-theme, #fff) var(--light-theme, var(--black));
    }
  }

  @include big-desktop {
    &__submit,
    &__agreement {
      margin-inline-start: 0;
      text-align: center;
      align-self:center;
    }
  }
}
