.l-project {
  --border-progress:1;
  --border-opacity:0.2;
  --form-width:1006px;

  @include big-desktop {
    --form-width:900px;
  }

  &__section {
    padding-block: clamp-calc(768px, 1920px, 120px, 160px);
    display: flex;
    flex-direction: column;
    row-gap: 80px;
  }

  &__headline {
    margin-block-end: 24px;
  }

  &__desc {
    margin-block: 0;
    line-height: 1.6;
    color:#A3A3A3;

    &:not(:last-child) {
      margin-block: 0 80px;
    }
  }

  &__form {
    margin-block-start: 80px;
  }

  &__container {
    --content-width: 1262px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
    --container:max(var(--container-offset), calc((100% - var(--content-width)) / 2));
    padding-inline: var(--container);

    @include big-desktop {
      --content-width:1130px;
    }
  }

  &__figure {
    margin: 0;

    &--gradient {
      -webkit-mask-image: linear-gradient(180deg, #191919 0%, rgba(25, 25, 25, 0.8) 49.5%, rgba(25, 25, 25, 0) 100%);
      mask-image: linear-gradient(180deg, #191919 0%, rgba(25, 25, 25, 0.8) 49.5%, rgba(25, 25, 25, 0) 100%);
    }
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__iframe {
    border-radius: clamp-calc(470px, 768px, 16px, 24px);
    border:clamp-calc(470px, 768px, 8px, 16px) solid var(--extra-dark-gray);
    background-color: var(--extra-dark-gray);
    display: block;
    aspect-ratio: 1230/768;
    width: 100%;
    scrollbar-width: 0;

    @include big-mobile {
      display: none;
    }
  }
}
