.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  color:var(--dark-theme, #fff) var(--light-theme, var(--black));
  transition: color var(--body-dur) linear;

  &__img {
    height: auto;
    width: clamp-calc(470px, 1920px, 94px, 188px);
  }
}
