.marker {
  position: relative;
  padding-inline-start: 28px;

  &::before {
    content:'';
    position: absolute;
    left: 0;
    top: 8px;
    bottom: 0;
    width: 6px;
    height: 6px;
    background-color: var(--gold);
    border-radius: 50%;
  }
}
