.menu {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: right;
  }

  &__link {
    color:var(--dark-theme, #fff) var(--light-theme, var(--black));
    transition: color var(--body-dur) linear;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    white-space: nowrap;

    &-count {
      position: absolute;
      left: calc(100% + 4px);
      font-size: 12px;
      vertical-align: super;
      color:#8C8C8C;
    }

    &-text {
      transition: transform .5s cubic-bezier(.8,-.01,.34,1.01);
    }

    &--underline {
      &::after {
        content:'';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        background-color:var(--gold);
      }
    }

    &--discuss {
      margin-block-start: 12px;
      text-underline-position: revert;
      text-underline-offset: 6px;
    }

    &--hover {
      &::before {
        content: attr(title);
        position: absolute;
        transition: transform .5s cubic-bezier(.8,-.01,.34,1.01);
        transform:translateY(-100%);
      }
      @include hover {
        &::before {
          transform: translateY(0);
        }

        .menu__link-text {
          transform:translateY(100%);
        }
      }
    }
  }
}
