.menu {
  &__button {
    display: none;
  }
  &__list {
    display: flex;
    flex-direction: column;

    @include for-desktop {
      text-align: right;
      row-gap: 12px;

      &--contacts {
        display: none;
      }
    }

    @include tablet {
      align-items:flex-start;
      row-gap: 24px;
      font-size: 14px;
      &--main {
        row-gap: 36px;
        font-size: 24px;
      }
    }
  }
  @media (hover:hover) {
    &__list--main:hover &__link:not(:hover) {
      color:#8C8C8C;
    }
  }

  &__link {
    color:var(--dark-theme, #fff) var(--light-theme, var(--black));
    transition: color var(--body-dur) linear;
    display: inline-flex;
    align-items: center;
    overflow-y: clip;
    position: relative;
    white-space: nowrap;
    line-height: 1.55;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    &-count {
      position: absolute;
      top: -2px;
      left: calc(100% + 5px);
      font-size: 12px;
      vertical-align: super;
      color:#8C8C8C;
    }

    &-text {
      transition: transform .5s cubic-bezier(.8,-.01,.34,1.01);
    }

    &--underline {
      &::after {
        content:'';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        background-color:var(--gold);
      }
    }

    @include for-desktop {
      &--hover {
        &::before {
          content: attr(title);
          position: absolute;
          transition: transform .5s cubic-bezier(.8,-.01,.34,1.01);
          transform:translateY(-100%);
        }
        @include hover {
          &::before {
            transform: translateY(0);
          }
          .menu__link-text {
            transform:translateY(100%);
          }
        }
      }
      &--discuss {
        margin-block-start: 12px;
        padding-block-end: 2px;
      }
    }
  }

  @include tablet {
    &__button {
      --size:18px;
      --gap:4px;
      display: flex;
      background-color:transparent;
      border:none;
      width: var(--size);
      height: var(--size);
      flex-direction: column;
      justify-content: center;
      row-gap: var(--gap);
      padding: 0;
      overflow: hidden;
      position: relative;
      z-index: 1;

      &-line {
        height: 1px;
        width: 100%;
        background-color:var(--dark-theme, #fff) var(--light-theme, var(--black));
        display: block;
        transition-property: width, transform, opacity;
        transition-timing-function: ease-in-out;
        transition-duration: 0.3s;
      }

      &--open {
        .menu__button {
          &-line {
            &:nth-child(1) {
              transform: rotate(45deg) translate(4px, 4px);

            }
            &:nth-child(2) {
              transform: scale(0);
            }
            &:nth-last-child(1) {
              transform: rotate(-45deg) translate(3px, -3px);;
            }
          }
        }
      }
    }
    &__container {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom:0;
      background-color:var(--dark-theme, var(--black)) var(--light-theme, #fff);
      padding-inline: var(--container-offset);
      padding-block: calc(var(--header-height) + 40px) 40px;
      align-items:flex-start;
      font-size: 24px;
      height: 100vh;
      transition: transform 0.4s linear, visibility 0.4s linear;
      transform: translateX(100%);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 60px;
      max-width: 100%;
      overflow-x: clip;
      visibility: hidden;

      &--open {
        overflow-y: auto;
        visibility: visible;
        transform: translateX(0);
      }
    }
  }
}
