.rating-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  margin-right: -1px;
  margin-bottom: -1px;

  &__item {
    position: relative;
    &::before,
    &::after {
      $size:clamp-calc(470px, 1920px, 12px, 24px);
      --size:#{$size};
      content: '';
      position: absolute;
      width: var(--size);
      height: var(--size);
      background-color:var(--dark-theme, var(--black)) var(--light-theme, #fff);
      transition-property: background-color;
      transition-delay: var(--body-delay);
      transition-duration: var(--body-dur);
      transition-timing-function: linear;
      bottom: calc(100% - (var(--size) / 2));
      left: calc(100% - (var(--size) / 2));
      z-index: 2;
    }

    &::after {
      top: calc(100% - (var(--size) / 2));
    }
    &:is(:first-child) {
      .rating-card {
        border-inline-start:0;
      }
    }
    &:is(:last-child) {
      .rating-card {
        border-inline-end:0;
      }
    }
  }

  .rating-card {
    height: 100%;
  }
}

.rating-card {
  display: flex;
  flex-direction: column;
  row-gap: clamp-calc(470px, 1920px, 12px, 16px);
  border: 1px solid var(--dark-gray);
  padding-block: clamp-calc(470px, 1920px, 12px, 34px);
  padding-inline: 24px;
  margin-left: -1px;
  margin-top: -1px;
  transition-property: background-color, color;
  transition-timing-function: linear;
  transition-duration: 0.3s;
  background-clip: content-box;

  &__title {
    margin-block: 0;
    color:var(--dark-theme, var(--dark-gray)) var(--light-theme, var(--graphite));
    font-size: clamp-calc(470px, 1920px, 22px, 32px);
    font-weight: 400;

    span {
      font-size: clamp-calc(470px, 1920px, 64px, 96px);
      font-weight: 500;
      line-height: 0.9;
    }
  }
  &__desc {
    margin-block: 0;
    line-height: 1.5;
    color:var(--dark-theme, #fff) var(--light-theme, var(--black));
  }
}
