.section-marquee {
  max-width: 100vw;
  position: relative;
  height: 100vh;

  @include tablet {
    height: 65vh;
    overflow: hidden;
    margin-block-end: clamp-calc(600px, 1024px, 1px, 200px);
  }
}
