.section-services {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-block: 40px;
  padding-inline: var(--container);
  max-width: 100vw;

  &__desc {
    text-wrap: balance;
  }
}
