.section-cases {
  padding-block: 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__list {
    height: revert;
  }

  @include large-desktop {
    &__list {
      margin-block: auto;
    }
  }
}
