@include for-desktop {
  .swiper__buttons {
    display: none;
  }
}

@include tablet {
  @import '../../../node_modules/swiper/swiper.scss';

  .swiper {
    width: 100%;
    padding-inline: var(--container-offset);
    display: flex;
    flex-direction: column;
    row-gap:  84px;

    &__buttons {
      display: flex;
      justify-content: center;

      gap: 24px;
    }

    &__button {
      background-color:transparent;
      border:none;
      padding: 0;
      color:var(--dark-theme, #fff) var(--light-theme, var(--black));

      &--disabled {
        color:var(--dark-theme, rgba(#fff, 0.2)) var(--light-theme, rgba(#191919, 0.2));
      }
    }
  }
}
