.theme {
  &-dark {
    --light-theme: var(--OFF);
    --dark-theme: var(--ON);
  }

  &-light {
    --light-theme: var(--ON);
    --dark-theme: var(--OFF);
  }
}

.theme-separator {
  width: 30vw;
  flex-shrink: 0;
  min-height: 160px;
}
