.headline {
  font-weight: 500;
  margin-block: 0;
  transition: color var(--body-dur);
  transition-delay: var(--body-delay);
  transition-timing-function: linear;
  &--1 {
    font-size: clamp-calc(470px, 1920px, 64px, 280px);
    color:var(--light-theme, var(--light-gray)) var(--dark-theme, var(--extra-dark-gray));
  }

  &--center {
    text-align: center;
  }
}
