<footer class="footer">
  <div class="footer__group">
    <h3 class="footer__title" data-lag="0.3">Связаться с нами</h3>
    <ul class="footer__links" role="list">
      <li class="footer__links-item" data-lag="0.4">
        <a class="footer__link underline" href="tel:74955327888">+7 495 53 27 888</a>
      </li>
      <li class="footer__links-item" data-lag="0.45">
        <a class="footer__link underline" href="mailto:hello@loftweb.ru">hello@loftweb.ru</a>
      </li>
      <li class="footer__links-item" data-lag="0.5">
        <a class="footer__link underline" href="https://t.me/loftweb" target="blank" rel="noopener noreferrer">Telegram</a>
      </li>
      <li class="footer__links-item" data-lag="0.55">
        <a class="footer__link underline" href="/brief.html">Заполнить бриф</a>
      </li>
    </ul>
  </div>
  <div class="footer__group">
    <h3 class="footer__title" data-lag="0.3">Офис</h3>
    <p class="footer__adds" data-lag="0.4">Россия, Москва, <br>ул. Троицкая 15, <br>стр. 1</p>
  </div>
  <p class="footer__copyright" data-lag="0.6">© 2014 — 2023 LoftWeb</p>
</footer>
