<footer class="footer @if (context.simpleFooter) {footer--simple}">
  @if (!context.simpleFooter) {
    <div class="footer__group">
      <h3 class="footer__title">Связаться с нами</h3>
      <ul class="footer__links" role="list">
        <li class="footer__links-item">
          <a class="footer__link underline" href="tel:74955327888">+7 495 53 27 888</a>
        </li>
        <li class="footer__links-item">
          <a class="footer__link underline" href="mailto:hello@loftweb.ru">hello@loftweb.ru</a>
        </li>
        <li class="footer__links-item">
          <a class="footer__link underline" href="https://t.me/loftweb" target="blank" rel="noopener noreferrer">Telegram</a>
        </li>
        <li class="footer__links-item">
          <a class="footer__link" href="/brief.html">Заполнить бриф</a>
        </li>
      </ul>
    </div>
    <div class="footer__group">
      <h3 class="footer__title">Офис</h3>
      <p class="footer__adds">Россия, Москва, <br>ул. Троицкая 15, <br>стр. 1</p>
    </div>
  }
  <p class="footer__copyright">© 2014 — 2023 LoftWeb</p>
</footer>
