<header class="header">
  <a class="header__logo logo">
    <svg class="logo__img" aria-hidden="true" width="188" height="40">
      <use xlink:href="img/sprite.svg#logo"></use>
    </svg>
  </a>
  <nav class="header__menu menu" aria-label="Основное меню" itemscope itemtype="https://schema.org/SiteNavigationElement">
    <button class="menu__button" type="button" aria-expanded="false" aria-controls="menu__list" aria-label="Открыть меню">
      <span class="menu__button-line" aria-hidden="true"></span>
      <span class="menu__button-line" aria-hidden="true"></span>
      <span class="menu__button-line" aria-hidden="true"></span>
    </button>
    <div class="menu__container">
      <ul class="menu__list menu__list--main" role="list" id="menu__list">
        <li class="menu__item" itemprop="name">
          <a class="menu__link" itemprop="url" href="/agency/" title="Агентство">
            <span class="menu__link-text">Агентство</span>
          </a>
        </li>
        <li class="menu__item" itemprop="name">
          <a class="menu__link" itemprop="url" href="/projects/" title="Проекты">
            <span class="menu__link-text">Проекты</span>
            <span class="menu__link-count">24</span>
          </a>
        </li>
        <li class="menu__item" itemprop="name">
          <a class="menu__link" itemprop="url" href="/contacts/" title="Контакты">
            <span class="menu__link-text">Контакты</span>
          </a>
        </li>
        <li class="menu__item" itemprop="name">
          <a class="menu__link menu__link--underline menu__link--discuss" itemprop="url" href="/discuss/" title="Обсудить проект">
            <span class="menu__link-text">Обсудить проект</span>
          </a>
        </li>
      </ul>
      <ul class="menu__list menu__list--contacts" role="list">
        <li class="menu__item">
          <a class="menu__link underline" href="mailto:hello@loftweb.ru">hello@loftweb.ru</a>
        </li>
        <li class="menu__item">
          <a class="menu__link underline" href="tel:74955327888">+7 495 53 27 888</a>
        </li>
        <li class="menu__item">
          <a class="menu__link underline" href="https://t.me/loftweb" target="blank" rel="noopener noreferrer">Telegram</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
